footer.index-page-footer
  .index-page-footer__top
    h3.index-page-footer__title Contact us
    ul.index-page-footer__list.index-page-footer__list_top
      li.index-page-footer__item
        a.index-page-footer__link.index-page-footer__link_first(href='./') Address: Contrary to popular belief
      li.index-page-footer__item
        a.index-page-footer__link(href='mailto:lorem@gmail.com') Email: lorem@gmail.com
      li.index-page-footer__item
        a.index-page-footer__link.index-page-footer__link_last(href='tel:123.456.7890') Phone Number: 123.456.7890
  .index-page-footer__bottom
    .inner-wrapper
      ul.index-page-footer__list
        li.index-page-footer__item
          a.index-page-footer__link.index-page-footer__link_first(href='./') Privacy Policy
        li.index-page-footer__item
          a.index-page-footer__link(href='./') Terms and conditions
        li.index-page-footer__item
          a.index-page-footer__link.index-page-footer__link_last(href='./') Disclaimer
      p.index-page-footer__copyright Copyright.LOREM. All Rights Reserved