section.testimonials
  .testimonials__inner
    h2.testimonials__title CLIENT TESTIMONIALS
    p.testimonials__text
      include testimonials.txt
    p.testimonials__ps - Lorem Ipsum
    .testimonials__buttons
      button.testimonials__button
      button.testimonials__button.testimonials__button_right