section.block-contacts
  .block-contacts__overlay
    .inner-wrapper.inner-wrapper_contacts
      .block-contacts__text
        p.block-contacts__slogan-1 WE CAN HELP YOU OBTAIN JUSTICE
        p.block-contacts__slogan-2 BURN INJURY LAWYER
        +button('Contact For A FREE Consultation!', 'theme_blue')(href='./')
      +message-form