section.contrary
  .contrary__inner
    h1.contrary__title Contrary to popular belief
    p.contrary__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    .contrary__button-wrapper
      +button('Contact Us', 'contrary')
