footer.faq-footer
  .faq-footer__top
    ul.faq-footer__list
      li.faq-footer__list-item
        a.faq-footer__logo(href='./') Logo
        p.faq-footer__text
          include faq-footer.txt
      li.faq-footer__list-item
        h3.faq-footer__title Quick Links
        a.faq-footer__link(href='./') Privacy Policy
        a.faq-footer__link(href='./') Terms and Conditions
      li.faq-footer__list-item
        h3.faq-footer__title Contact Me
        a.faq-footer__link.faq-footer__link_phone(href='tel:123.456.7890') 123.456.7890
        a.faq-footer__link.faq-footer__link_email(href='mailto:info@gmail.com') info@gmail.com
  .faq-footer__bottom
    p.faq-footer__copyright © 2019 LoremIpsum. All Rights reserved.