@import 'utils';

.wrapper {
  max-width: 1366px;
  min-width: 320px;
}

.inner-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 824px;
  margin: auto;

  &_contacts {
    @include for-tablet-landscape-down() {
      justify-content: center;
    }
  }
}

html {
  font-size: 16px;
  overflow-x: hidden;

  @include for-phone-landscape-down() {
    font-size: 14px;
  }

  @include for-phone-only() {
    font-size: 12px;
  }
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}