.schedule-form {
  display: grid;
  grid-template-areas: 'name phone'
    'email location'
    '. submit';
  grid-gap: 11px;
  max-width: 454px;

  @media (max-width: 960px) {
    grid-template-areas: 'name'
      'phone'
      'email'
      'location'
      'submit';
  }

  &__input {
    width: 222px;
    padding: 14px 0 14px 18px;
    box-sizing: border-box;
    font-size: 11px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: rgba(255, 255, 255, .43);
    border: 0;
    text-transform: uppercase;

    &::placeholder {
      font-size: 11px;
      font-family: Roboto, Arial, sans-serif;
      font-weight: 500;
      line-height: 63.18px;
      color: #fff;
      text-transform: uppercase;
    }

    &:nth-child(1) {
      grid-area: name;
    }

    &:nth-child(2) {
      grid-area: phone;
    }

    &:nth-child(3) {
      grid-area: email;
    }

    &:nth-child(4) {
      grid-area: location;
    }
  }

  &__button {
    padding: 12px 84px;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 700;
    color: #f4762a;
    background-color: #fff;
    border: 0;
    grid-area: submit;
    text-transform: uppercase;
    box-sizing: border-box;
  }
}