section.who-we-are
  img.who-we-are__img(src='../../blocks/who-we-are/img/who-we-are.jpg', alt="who we are")
  .who-we-are__description
    h2.who-we-are__title Who we are
    p.who-we-are__text
      include who-we-are.txt
    a.who-we-are__link(href='./') Read more