mixin burger(mods)
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' burger_' + modsList[i].trim();
      }
    }
  button.burger(class=allMods, type='button')
    span
