@import '../../sass/utils';

.article {
  width: pxToRem(258);

  @media (max-width: 800px) {
    margin-bottom: 50px;
  }

  @include for-phone-only() {
    width: 100%;
  }

  &__img {
    display: block;
  }

  &__title {
    font-size: 14px;
    font-family: 'Playfair Display', Arial, sans-serif;
    font-weight: 700;
    line-height: 19.21px;
    color: #404040;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 18px;
    font-size: 13px;
    font-family: 'Roboto Thin', Arial, sans-serif;
    font-weight: 400;
    line-height: 19.21px;
    color: #404040;
  }

  &__link {
    font-size: 13px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    color: #0d2e69;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}