mixin article()
  article.article
    img.article__img(src='../../components/article/img/litigation-bg.jpg', alt='litigation')
    h2.article__title Lorem Ipsum
    p.article__text
      include article.txt
    a.article__link(href='./') Read more