section.cases-about-us
  h2.cases-about-us__title About us
  .cases-about-us__inner
    .cases-about-us__text-block-1
      p.cases-about-us__text
        include cases-about-us.txt
      p.cases-about-us__text
        include cases-about-us-2.txt
      +button-orange('Read more', 'theme_white')
    img.cases-about-us__img-1(src='../../blocks/cases-about-us/img/rob-girkin.jpg', alt='rob girkin')
    img.cases-about-us__img-2(src='../../blocks/cases-about-us/img/cytonn-photography.jpg', alt='cytonn photography')
    .cases-about-us__text-block-2
      p.cases-about-us__text
        include cases-about-us.txt
      p.cases-about-us__text
        include cases-about-us-2.txt
      +button-orange('Read more', 'theme_white')
