@import '../../sass/utils';

.logo {
  display: flex;
  width: pxToRem(128);
  height: pxToRem(61);
  box-sizing: border-box;
  font-size: pxToRem(26);
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  line-height: 19.21px;
  color: #0d2e69;
  border: 2px solid #0d2e69;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
