extends ../../pug/layout
include ../../pug/includes

block title
  title Cases we handle

block content
  body
    .wrapper
      include ../../blocks/header/header
      include ../../blocks/cases-content/cases-content
      include ../../blocks/cases-about-us/cases-about-us
      include ../../blocks/footers/cases/index