extends ../../pug/layout
include ../../pug/includes

block title
  title Home

block content
  body
    .wrapper
      include ../../blocks/header/header
      include ../../blocks/block-contacts/block-contacts
      include ../../blocks/about-us/about-us
      include ../../blocks/call-now/call-now
