section.services
  ul.services__list
    li.services__list-item
      h3.services__item-title WE ARE DIFFERENT!
      p.services__item-text
        include services1.txt
        include services2.txt
      a.services__item-link(href='./') Read more
    li.services__list-item.services__list-item_theme_dark
      h3.services__item-title SERVICES OFFERING!
      p.services__item-text.services__item-text_first
        include services1.txt
      p.services__item-text.services__item-text_second
        include services2.txt
      a.services__item-link(href='./') Read more
    li.services__list-item
      h3.services__item-title SERVICES OFFERING!
      p.services__item-text.services__item-text_first
        include services1.txt
      p.services__item-text.services__item-text_second
        include services2.txt
      a.services__item-link(href='./') Read more