mixin card(src='../../components/card/img/card-1.jpg')
  .card
    img.card__img(src=src, alt='card')
    .card__content
      h3.card__title Lorem Ipsum
      p.card__text Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC...
      a.card__link(href='./') Read more