mixin main-nav()
  nav.main-nav
    ul.main-nav__list
      li.main-nav__item
        a.main-nav__link(href='index.html') Home
      li.main-nav__item
        a.main-nav__link(href='index.html') About us
      li.main-nav__item
        a.main-nav__link(href='index.html') Cases we handle
      li.main-nav__item
        a.main-nav__link(href='index.html') Faq
      li.main-nav__item
        a.main-nav__link(href='index.html') Blog
      li.main-nav__item
        a.main-nav__link(href='index.html') Contact