section.faq-sub-header
  h1.faq-sub-header__title Lorem Ipsum
  p.faq-sub-header__text Contrary to popular belief, Lorem Ipsum is not simply random text.
  .faq-sub-header__button-wrapper
    a.faq-sub-header__button(href='./') Contact us