section.latest-from-blog
  .latest-from-blog__inner
    h2.latest-from-blog__title Latest from the BLOG
    p.latest-from-blog__text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
    ul.latest-from-blog__list
      li.latest-from-blog__item
        +card
      li.latest-from-blog__item
        +card('../../components/card/img/card-2.jpg')
      li.latest-from-blog__item
        +card('../../components/card/img/card-3.jpg')