section.complete-form
  h2.complete-form__title Complete the form <span>to arrange your first session</span>
  form.complete-form__form(action='./')
    input.complete-form__name(name='name', placeholder='Name')
    input.complete-form__phone(type='tel', name='phone', placeholder='Telephone number')
    input.complete-form__email(type='email', name='email', placeholder='Email')
    textarea.complete-form__message(name='message', placeholder='Message')
    input.complete-form__button(type='submit', value='Submit')