footer.cases-footer
  .cases-footer__top
    ul.cases-footer__list
      li.cases-footer__item
        h3.cases-footer__title.cases-footer__title_logo Logo
        p.cases-footer__text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      li.cases-footer__item
        h3.cases-footer__title Address
        p.cases-footer__text Lorem Ipsum is simply dummy text of the printing
      li.cases-footer__item
        h3.cases-footer__title Contacts
        p.cases-footer__text
          a.cases-footer__link(href='mailto:nfo@lawyer.com') nfo@lawyer.com
        p.cases-footer__text
          a.cases-footer__link(href='tel:123.456.7890') 123.456.7890
      li.cases-footer__item
        h3.cases-footer__title Socials
        .cases-footer__icons
          img.cases-footer__img(src='../../blocks/footers/cases/img/google-plus.png', alt='google-plus')
          img.cases-footer__img(src='../../blocks/footers/cases/img/linkedin.png', alt='linkedin')
          img.cases-footer__img(src='../../blocks/footers/cases/img/skype.png', alt='skype')
  .cases-footer__bottom
    p.cases-footer__copyright