section.cases-content
  .cases-content__img
    .cases-content__img-post
      h2.cases-content__img-post-title Lorem Ipsum
      p.cases-content__img-post-text Contrary to popular belief, Lorem Ipsum is not simply random text
      a.cases-content__img-post-button Read more
  .cases-content__schedule-form
    .cases-content__schedule-form-title Schedule Appointment
    +schedule-form
  .cases-content__post
    .cases-content__post-title “Lorem Ipsum is simply dummy text of the printing and typesetting industry.”
    p.cases-content__post-text Contrary to popular belief, Lorem Ipsum is not simply random text.
    a.cases-content__img-post-button.cases-content__img-post-button_theme_white Read more
