section.about-us
  .inner-wrapper.inner-wrapper_about-us
    .about-us__img
      img(src='../../blocks/about-us/img/about-us.jpg', alt='About us')
    .about-us__info
      h3.about-us__title About us
      p.about-us__text
        include about-us.txt
      p.about-us__consultation Get free consultation
      +button('Contact us', 'theme_blue,about-us')
