footer.about-page-footer
  .about-page-footer__top
    ul.about-page-footer__list
      li.about-page-footer__list-item
        img.about-page-footer__icon.about-page-footer__icon_location(src='../../blocks/footers/about-us/img/location.png', alt='how to find us')
        p.about-page-footer__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      li.about-page-footer__list-item
        img.about-page-footer__icon.about-page-footer__icon_phone(src='../../blocks/footers/about-us/img/phone.png', alt='call for us')
        a.about-page-footer__link(href='tel:02 562-958') Tel: 02 562-958
        a.about-page-footer__link(href='tel:02 562-95') Mobile: 02 562-95
      li.about-page-footer__list-item
        img.about-page-footer__icon.about-page-footer__icon_email(src='../../blocks/footers/about-us/img/email.png', alt='write for us')
        a.about-page-footer__link.about-page-footer__link_email(href='mailto:hello@lawyers.com') E-mail: hello@lawyers.com
  .about-page-footer__bottom
    .about-page-footer__copyright © 2018 LoremIpsum. All Rights Reserved