extends ../../pug/layout
include ../../pug/includes

block title
  title FAQ

block content
  body
    .wrapper
      include ../../blocks/header/header
      include ../../blocks/faq-sub-header/faq-sub-header
      include ../../blocks/who-we-are/who-we-are
      include ../../blocks/services/services